<!-- login.component.html -->
<!-- <div class="login-container">
  <div class="login-content">
    
    <div class="welcome-panel">
     
       -->
       <!-- Right Panel -->
    <!-- <div class="signin-panel">
      <div class="signin-form">
        <h1 class="signin-title">Login</h1>
        <p class="signin-subtitle">Login into your account to continue</p>
        
        <form [formGroup]="userForm">
          <div class="form-group">
            <div class="input-container">
              <input 
                type="email" 
                formControlName="username" 
                placeholder="username">
              <i class='bx bx-envelope'></i>
            </div>
            <div class="text-danger">
              @if (userForm.controls['username'].touched && userForm.controls['username'].errors?.['required']) {
                <span>This is required</span>
              }
            </div>
          </div>

          <div class="form-group">
            <div class="input-container">
              <input 
                type="password" 
                formControlName="password" 
                placeholder="Password">
              <i class='bx bx-lock-alt'></i>
            </div>
            <div class="text-danger">
              @if (userForm.controls['password'].touched && userForm.controls['password'].errors?.['minlength']) {
                <span>This is required</span>
              }
            </div>
          </div>

          <div class="remember">
            <label for="#">
              <input type="checkbox"> Remember me
            </label>
            <a href="#">Forgot password?</a>
          </div>

          <button class="btn" (click)="login()">Login</button>

          <div class="register">
            <p>Don't have an account? <br> <a routerLink="/register">Register</a></p>
          </div>
        </form>
      </div>
    </div>


    
    </div>

   
  </div>
</div> -->


<div class="login-container">
  <div class="login-content">
    
    <div class="welcome-panel">
      <!-- Right Panel -->
      <div class="signin-panel">
        <div class="signin-form">
          <h1 class="signin-title">Login</h1>
          <p class="signin-subtitle">Login into your account to continue</p>
          
          <!-- This is the new message box, integrated into your template -->
          <div *ngIf="message" [class.success]="!isError" [class.error]="isError" class="message-box">
            {{ message }}
          </div>

          <form [formGroup]="userForm">
            <div class="form-group">
              <div class="input-container">
                <input 
                  type="email" 
                  formControlName="username" 
                  placeholder="username">
                <i class='bx bx-envelope'></i>
              </div>
              <div class="text-danger">
                @if (userForm.controls['username'].touched && userForm.controls['username'].errors?.['required']) {
                  <span>This is required</span>
                }
              </div>
            </div>

            <div class="form-group">
              <div class="input-container">
                <input 
                  type="password" 
                  formControlName="password" 
                  placeholder="Password">
                <i class='bx bx-lock-alt'></i>
              </div>
              <div class="text-danger">
                @if (userForm.controls['password'].touched && userForm.controls['password'].errors?.['minlength']) {
                  <span>This is required</span>
                }
              </div>
            </div>

            <div class="remember">
              <label for="#">
                <input type="checkbox"> Remember me
              </label>
              <a href="#">Forgot password?</a>
            </div>

            <button class="btn" (click)="login()">Login</button>

            <div class="register">
              <p>Don't have an account? <br> <a routerLink="/register">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>