 <div class="home-div">
      <!-- Navigation Header -->
      <nav class="navbar">
        <div class="nav-container">
          <div class="nav-brand">
            <h2>Tynash Healthcare Pvt</h2>
          </div>
          <div class="nav-menu">
            <a href="#" class="nav-link active">Home</a>
            <a href="" class="nav-link">About Us</a>
            <a href="#" class="nav-link">Contact Us</a>
            <!-- <a href="#" class="nav-link dropdown-toggle">Login out</a> -->
            <a href="#" class="nav-link">Sign out</a>
            </div>
          </div>
      </nav>